
:root{
    --negro_opaco:#231f20;
    --naranja: #d1a04f;
}



@font-face {
  font-family: 'Degular';
  src: url(/FontDegular/Degular-Bold.otf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Degular';
  src: url(/FontDegular/Degular-Semibold.otf);
  font-weight: semibold;
  font-style: semibold;
}
@font-face {
  font-family: 'Degular';
  src: url(/FontDegular/Degular-Medium.otf);
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: 'Degular';
  src: url(/FontDegular/Degular-Regular.otf);
  font-weight: regular;
  font-style: regular;
}







html, body {
  margin: 0px auto;
  width:100%;
  overflow-x:hidden;
  }

.nameandother{
  display: flex;
  flex-direction: column;
}




/*Franja Portada */

#pback{
  display: flex;
}
#portada {
  background-image: url(../svg/franja_portada.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: top;
  align-items: center;
  padding-bottom: 15%;
  margin-top: 3%;
}
#portada h1 {
    font-family: 'Degular';
    font-weight: 900 ;
    color: #000;
    font-size: 50px;  
    line-height: 45px;
    font-weight: 600;
    margin-top: -2px;
    margin-left: 118px;
    display: flex;
    text-align: center;
    justify-content: left;
}    
#portada p {
  font-family: 'Degular';
  font-weight: medium;
  color: #000;
    font-size: 41px;
    line-height: 38px;
    font-weight: 300;
    margin-left: 119px;
    margin-top: 32%;
    display: flex;
    justify-content: left;
    text-align: center;
}    

#portada span{
  font-family: 'Degular';
  font-weight: bold;
}

 #asidenav li {
  font-family: 'Degular';
  color: #000;
  font-weight: 500;
  font-size: 16px;
} 

#perfil p{
  font-family: 'Degular';
  color: #000;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: left;
  text-align: center;
  margin-bottom: 70px;
}


#primer-seccion{
background-color: var(--naranja);
}








/*información*/

#asidenav{
  float:left;
  background-color: var(--naranja);
  margin-top: 40px;
  padding: 0px 20px;
  box-sizing: border-box;
  border:  1px #737373;
  box-shadow: 3px 0px 0px #000 ;
}
#asidenav h2{
  font-family: 'Degular';
  font-weight: 900;
  font-size: 32px;
  color: var(--negro_opaco);
  background-color: var(--naranja);
  text-align:left;
  padding: 5px;
}
.frame-hobbie {
  display: flex;
  margin: 10px;
  width: 80px;
margin-left: -15px;
}
.frame-hobbie img {
padding: 10px;
}
#hobbie{
  float:left;
  background-color: #d1a04f;
  margin-top: 40px;
  padding: 0px 20px;
  box-sizing: border-box;
  border:  1px #737373;
}
#hobbie h2{
  font-family: 'Degular';
  font-weight: 900;
  font-size: 32px;
  color: #231f20;
  /* background-color: #d1a04f ; */
  text-align:left;
  padding: 5px;
}










/* Button */

#content{
  float: left;
  margin-top: 40px;
  padding: 20px;
  margin: 10px;
}

#content h2{
  font-family: 'Degular';
  font-weight: 900;
  font-size: 32px ;
  color: #231f20;
  /* background-color: #d1a04f ; */
  text-align:center;
  padding: 5px;
}

#content p{
  margin-left: 10px;
  white-space: nowrap;
  margin-bottom: 0px;
}



.frame-item {
  margin: 10px;
  width: 50px;
}


#whats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#ButtonWhats{
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.28rem;
}

#mail{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#mail p{
  font-family: 'Degular';
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

#ButtonMail{
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.28rem;
}


#github{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#ButtonGit{
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.28rem;
}







/* Skills */

.radial-d{
  display: flex;
  justify-content: center;
  background-position: top;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#skills{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

#iconosProgramas {
  display: flex;
  justify-content: center;
  background-position: top;
  align-items: center;
}
#iconosProgramas img {
  display: flex;
  padding-top: 24px;
  width: 72%;
  padding-left: 22px;
}
#iconosProgramas h1 {
    font-family: 'Degular';
    font-weight: 900;
    font-size: 46px;
    color: var(--negro_opaco);
    margin: 30px 137px;
    font-size: 85px;
    line-height: 90px;
    padding-top: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#iconosProgramas p {
  color: #222;
    font-size: 19px;
    line-height: 38px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: center;
margin-top: -6px;
}

.radial-bar h2{
  font-size: 46px;
  color: var(--negro_opaco);
  font-size: 28px;
  font-weight: 400;
  padding: 0 19px;
  display: flex;
  text-align: center;
  justify-content: center;
}









/* grafica circular */

.radial-bars{
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 15px;
}

.radial-bars .radial-bar{
width: 50%;
height: 170px;
margin-bottom: 10px;
position: relative;
}

.radial-bars .radial-bar svg{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(-90deg);
width: 120px;
height: 160px;
}
.radial-bars .radial-bar .progress-bar{
stroke-width: 10;
stroke: #fff;
fill: transparent;
stroke-dasharray: 502;
stroke-dashoffset: 502;
stroke-linecap: round;
animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
100%{
  stroke-dashoffset: -1;
}
}
.path{
stroke-width: 10;
stroke: #231f20;
fill: transparent;
stroke-dasharray: 502;
stroke-dashoffset: 502;
stroke-linecap: round;
}
.path2{
stroke-width: 10;
stroke: #231f20;
fill: transparent;
stroke-dasharray: 400;
stroke-dashoffset: 502;
stroke-linecap: round;
}
.path3{
stroke-width: 10;
stroke: #231f20;
fill: transparent;
stroke-dasharray: 480;
stroke-dashoffset: 502;
stroke-linecap: round;
}
.path4{
stroke-width: 10;
stroke: #231f20;
fill: transparent;
stroke-dasharray: 360;
stroke-dashoffset: 502;
stroke-linecap: round;
}


.path-1{animation: animate-path1 1s 1s linear forwards;
}
.path-2{animation: animate-path1 1s 1s linear forwards;
}
.path-3{animation: animate-path1 1s 1s linear forwards;
}
.path-4{animation: animate-path1 1s 1s linear forwards;
}


@keyframes animate-path1{
100%{stroke-dashoffset: 50;}
}
@keyframes animate-path2{
100%{stroke-dashoffset: 50;}
}
@keyframes animate-path3{
100%{stroke-dashoffset: 50;}
}
@keyframes animate-path4{
100%{stroke-dashoffset: 50;}
}
@keyframes animate-path5{
100%{stroke-dashoffset: 50;}
}
@keyframes animate-path6{
100%{stroke-dashoffset: 50;}
}

.radial-bar .porcentage{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) ;
font-size: 17px;
font-weight: 500;
animation: showText 0.5 1s linear forwards;
/* opacity: 0; */
}

.progress-bar .text{
width: 100%;
position: absolute;
text-align: center;
left: 50%;
bottom: -5px;
transform:  translateX(-50%);
font-size: 17px;
animation: showText 0.5s 1s linear forwards;
opacity: 0;
}


.perfil{
  font-family: 'Degular';
  font-weight: 900;
  font-size: 46px;
  margin-top: 43px;
  display: flex;
  justify-content: center;
}



/* barra de extas*/

#extras-text{
  font-family: 'Degular';
  font-weight: 900;
  font-size: 46px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#extras{
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    padding: 0px 20px;
  }
  .Technical-bars .bar img{
    width: 55px;
  }
  .skills{
    width: 220px;
    height: 70px;
    padding: 20px;
  }
  .bar{
    font-size: 23px;
  }
  .Technical-bars .bar{
    margin: 40px 0;
  }
  .Technical-bars .bar:first-child{
    margin-top: 0;
  }
  .Technical-bars .bar:last-child{
    margin-bottom: 0;
  }
  .Technical-bars h2{
    margin-bottom: 10px;
  }
  .Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
  }
  .Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #d4d4d4;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
  }
  @keyframes animate{
    100%{
      transform: scaleX(1);
    }
  }
  .Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #231f20;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
    transform: scaleX(0);
    transform-origin: left;
  }
  .progress-line.sketch span{
    width: 90%;
  }
  .progress-line.figma span{
    width: 60%;
  }
  .progress-line.autocad span{
    width: 70%;
  }
  .progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #231f20;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  
  .progress-line.sketch span::after{
   content: "90%";
  }
  .progress-line.figma span::after{
   content: "60%";
  }
  .progress-line.autocad span::after{
   content: "70%";
  }

  .progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top:-10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 10;
  }

  @keyframes showText{
    100%{
      opacity: 1;
    }
  }





/*Slider*/

.logoslider{
  font-family: 'Degular';
  font-weight: 900;
  font-size: 46px;
  margin-top: 43px;
  display: flex;
  justify-content: center;
}


.slider{
  display: flex;
  height: auto;
  margin: auto;
  overflow: hidden;
  align-items: center;
}

/* ------------------ */
.slider:before {
  position: absolute;
  z-index: 1;
  left: 0;
  content: "";
  width: 23%;
  height: 110px;
background: linear-gradient(-90deg, hsla(0,0%,96.9%,0));
}

.slider:after {
  position:absolute;
  right:0;
  content: "";
  width: 23%;
  height: 100px;
  background: linear-gradient(90deg,hsla(0, 0%, 96.9%, 0)
   hsla(0, 0%, 96.9%, 0.99)99%);
}
/* -------------------- */

.slider .slide-track{
  display: flex;
  animation: scroll 35s linear infinite;
  -webkit-animation: scroll 35s linear infinite;
  width: calc(240px * 10);
}

 .slder .slide{
  display: flex;
 }
 .slider .slide img{
  width: 190px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  margin: 20px;
  border-radius: rgba(50,50,93,0.25) 0px 2px 5px -1px, rgba(0,0,0,0.3) 0px 1px 3px -1px;
 }
@keyframes scroll{
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(calc(-240px * 10));
    transform: translateX(calc(-240px *10));
  }
}






/* Footer */

#footer {
  background-color: #231f20;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}
#footer1 {
  background-color: #231f20;
  padding-top: 0px;
  padding-bottom: 30px;
}
#footer1 p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  margin-right: 40px;
}































  /*ipad landscape*/
  
  @media (max-width: 1200px) and (min-width: 1000px) {

    #portada {
      padding-bottom: 16%;
    }
    #portada h1 {
    font-size: 50px;  
    line-height: 45px;
    margin-top: -13px;
    margin-left: 75px;
    }    
    #portada p {
    font-size: 35px;
    line-height: 38px;
    margin-left: 78px;
    margin-top: 30%;
    }    
 

    #iconosProgramas img {
      padding-top: 23px;
      width: 80%;
      padding-left: 11px;
    }
    #iconosProgramas h1 {
      font-size: 60px;
      line-height: 63px;
  
    }
    #iconosProgramas p {
      font-size: 19px;
      line-height: 35px;
      padding-top: 2px;
    }
    .radial-bar h2{
  
      font-size: 23px;

      font-weight: 800;
      padding: 0 19px;
      display: flex;
      text-align: center;
      justify-content: center;
    }


/*Footer*/

#franja_footer {
  margin-top: -4px;
    padding-top: 46px;
    padding-bottom: 82px;
  }

  #footer img {
    width: 160px;
    margin-top: 15px;
  }
  
  #footer1 p {
    font-size: 12px;
    padding-top: 10px;
    margin-right: 0px;
  }
  

  }
  



  














  
  /*ipad portrait*/
  @media (max-width: 999px) and (min-width: 740px) {

    #portada {
      padding-bottom: 15%;
    }

    #portada h1 {
      font-size: 40px;
      line-height: 45px;
      margin-top: -27px;
      margin-left: 50px;
      }
      #portada p {
      font-size: 25px;
      line-height: 38px;
      margin-left: 50px;
      margin-top: 29%;
      }

      #content{
      padding: 20px 0px;
      margin-top: 0px;
      }
      
      #iconosProgramas img {
        padding-top: 12px;
        width: 73px;
       margin-left: -13px;
        }
        #iconosProgramas h1 {
        font-size: 50px;
        line-height: 53px;
        }
        #iconosProgramas p {
          font-size: 21px;
          line-height: 20px;
          padding-top: 15px;
        }
      
        .radial-bar h2{
          font-size: 19px;

          font-weight: 800;
          padding: 0 19px;
          display: flex;
          text-align: center;
          justify-content: center;
        }

        #hobbie{
          margin-top: 10px;
        }
    
        #hobbie h2{

        }

/*Footer*/

#franja_footer {
  padding: 48px;
  margin-top: -4px;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer ul {
  display: flex;
  margin-top: 25px;
  text-align: left;
  flex-direction: row;
}

#footer img {
  width: 120px;
  margin-top: 10px;
}

#footer li a {
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-size: 16px;
  line-height:28px;
  font-weight: 700;
  letter-spacing: 1px;
}

#footer1 p {
  font-size: 10px;
  padding-top: 10px;
  margin-right: 0px;
}


  }



















  /*movil*/
  
  @media (max-width: 767px) and (min-width: 320px) {

    #grid {
    
    }
    #portada {
      padding-bottom: 12%;
    }
    #portada h1 {
    font-size: 23px;  
    line-height: 40px;
    margin-top: -40px;
    margin-left: 14px;
    padding: 5px;
    }
    #portada p {
    font-size: 14px;
    line-height: 38px;
    margin-left: 20px;
    margin-top: 10%;
    }

    #content{
      /* display: flex;
      justify-content: center;
      margin-left: 3%;
      flex-direction: column;
      align-items: center; */
    }

    #content p{
      display: flex;
      justify-content: center;
      margin-bottom: 0px;
    }

    #hobbie{
      display: flex;
      margin-top: 10px;
      flex-direction: row;
      align-items: center;
      padding: 30px 0;
      padding-left: 15px;
    }

    #hobbie h2{
      text-align:left;
      padding: 0;
      margin-right: 25px;
      padding-bottom: 20px;
    }

    .frame-hobbie {
    margin: -12px;
    width: 67px;
    margin-left: -15px;
    flex-direction: row;
    }
    
    
    .frame-hobbie img {
    padding: 0;
    }
    
    .radial-bar h2{

      font-size: 19px;

      font-weight: 800;
      padding: 0 19px;
      display: flex;
      text-align: center;
      justify-content: center;
    }


    .progress-line span::after{
      position: absolute;
      padding: 1px 8px;
      background-color: #231f20;
      color: #fff;
      font-size: 10px;
      border-radius: 3px;
      top: 11px;
      right: -20px;
      animation: showText 0.5s 1.5s linear forwards;
      opacity: 0;
    }
    
    .progress-line span::before{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-bottom-width: 0px;
      border-right-width: 0px;
      border-top-color: #000;
      top: 4px;
      right: 0;
      animation: showText 0.5s 1.5s linear forwards;
      opacity: 10;
    }
    .skills{
      padding: 10px;
    }

    #iconosProgramas {
      background-size: 300%;
    }
    
    #iconosProgramas img {
      width: 68px;
      padding-left: 21px;
      padding-top: 15px;
    }
    #iconosProgramas h1 {
      font-size: 45px;
      line-height: 50px;
      padding-top: 15px;
    
    }
    #iconosProgramas p {
        font-size: 15px;
        line-height: 22px;
        padding-top: -1px;
        margin: 0 30px 0 30px;
    }
    


/*Footer*/

#franja_footer {
  padding: 26px;
  margin-top: -1px;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer ul {
  display: flex;
  margin-top: 20px;
  text-align: center;
  flex-direction: row;
  padding-left: 0px;
  justify-content: center;
}

#footer .fa{
  margin-bottom: 20px;
}

#footer li a {
  font-size: 11px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

#footer {
  text-align: center;
}

  #footer1 {
    padding-bottom: 30px;
  }

  #footer1 p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    margin-right:40px;
  }

  #footer1  a {
    text-decoration: underline;
  }

  #footer1  a:hover {
    text-decoration: none;

  }


  }















  